select{
   cursor: pointer;
   border: 1px solid #fa693b;
   background-color: #fa693b;
   padding: 7px 10px;
}

select option{
   background-color: white;
}

button{
   cursor: pointer;
   border: 1px solid #fa693b;
   padding: 8px 10px;
   background-color: #fa693b;
   color: black;
}